
  .title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;
  }
  .underline {
    width: 140px;

    height: 3px;
    background-color: rgb(234, 151, 42);
  }
  .card_wrap {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 60px;
    .card_cont {
      border-radius: 10px;
      padding: 10px 20px;
      border: 1px solid gray;
      max-width: 200px;
      .title_img_cont {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .img_cont {
          position: relative;
          width: 70px;
          height: 100px;
        }
        .step_cont {
          font-size: 90px;
          font-weight: 800;
          color: rgb(104, 194, 221);
        }
      }
      .sub_title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(192, 182, 39);
      }
      .desc_cont {
        font-size: 16px;
        font-weight: 500;
        color: rgb(26, 25, 24);
      }
    }
    .card_cont:hover{
          box-shadow: 10px 3px 10px 2px rgb(187, 185, 185);
    }
    
  }

  .sliderClassName {
    :global {
      .slick-slider {
        display: flex !important;
        height: auto !important;
        align-items: stretch !important;
        .slick-list {
          display: flex !important;
          height: auto !important;
          align-items: stretch !important;
          padding: 0 35px 0 0 !important;
          .slick-track {
            display: flex !important;
            height: auto !important;
            align-items: stretch !important;
            gap: 25px !important;
            padding: 10px 0px 10px 10px;
            .slick-slide {
              display: flex !important;
              height: auto !important;
              align-items: stretch !important;
            }
          }
        }
      }
  
    }
  }



